.hero_section{
    width: 100vw;
    height: 100vh;
    width: 100dvw;
    height: 100dvh;
    min-height: 600px;
    background-image: url(../assets/images/mobile_background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
    /* margin-bottom: 50px; */
}

.hero_banner{
    background-color: white;
    display: flex;
    flex-flow: column;
    gap: 20px;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.hero_banner h1{
    font-weight: 400;
}

@media screen and (min-width: 1024px) {
    .hero_section{
        background-image: url('../assets/images/golden_retriever_desktop_2.png');
        justify-content: flex-start;
        flex-flow: row;
        /* padding-inline: 5%; */
    }

    .hero_banner_wrapper{
        width: 100%;
        max-width: 1440px;
        margin: auto;
        padding-inline: 5%;
    }
    
    .hero_banner{
        box-shadow: none;
        background-color: transparent;
        text-align: left;
        align-items: flex-start;
        color: white;
        width: 400px;
        padding-inline: 0 40px;
    }
    
    .hero_banner h1{
        color: white !important;
    }
}

@media screen and (min-width: 1440px) {
    
    .hero_banner_wrapper{
        padding-inline: 0;
    }

    .hero_banner{
        width: 700px;
        gap: 40px;
    }

    .hero_banner h1{
        font-size: 4em;
    }

    .hero_banner p{
        font-size: 30px;
    }
}