nav{
    height: 60px;
    width: 100%;
    padding-inline: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
}

nav img {
    width: 35px;
}

nav h2 {
    font-weight: normal;
    color: white;
    font-size: 20px;
}