nav{
    height: 60px;
    width: 100%;
    padding-inline: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.nav_link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

nav img {
    width: 35px;
}

.logo_text {
    font-family: 'Pacifico', cursive;
    font-weight: normal;
    font-size: 20px;
}

.search_page_active{
    position: unset;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.search_page_active > .nav_link{
    color: #696350;
}