.search_form{
    display: flex;
    width: 100%;
    /* background-color: red; */
    height: 40px;
    padding-inline: 20px;
    max-width: 500px
}

.search_form input{
    width: 70%;
    padding-inline: 10px;
    background-color: #F2F2F2;
    border: 1px solid #696350;
    outline: transparent;
    border-radius: 5px 0 0 5px;
    
}

.search_form button{
    width: 30%;
    border-radius: 0 5px 5px 0;
    color: white;
    background-color: #696350;
    border: none;
}

::placeholder{
    color: #8B836A;
}

.empty_fields{
    /* border: 1px solid tomato !important; */
    box-shadow: 0 0 10px tomato !important;
}