.tip_section_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 50px;
    padding-block-start: 50px;
}

.tips_section{
    /* min-height: 100vh;
    min-height: 100dvh; */
    width: 100%;
    max-width: 600px;
    padding: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
    text-align: justify;
}

.text_wrapper p{
    line-height: 25px;
}

.text_wrapper h2{
    text-align: center;
    font-weight: normal;
    font-size: 1.7em;
}

.image_wrapper{
    width: 100%;
    aspect-ratio: 1/1;
}

.image_wrapper img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

@media screen and (min-width: 1024px) {
    .tips_section{
        flex-flow: row;
        max-width: 1440px;
        align-items: flex-start;
        text-align: justify;
    }

    .text_wrapper{
        width: 50%;
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
    }

    .image_wrapper{
        width: 50%;
    }

    .reversed_tip{
        flex-flow: row-reverse;
    }

        
    .text_wrapper h2{
        font-size: 2em;
    }

    .text_wrapper p{
        line-height: 30px;
        font-size: 20px;
    }
}